@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

#userBirthdateInput::-webkit-calendar-picker-indicator,
#dataCheckInInput::-webkit-calendar-picker-indicator,
#dataCheckOutInput::-webkit-calendar-picker-indicator,
.ospite-data-nascita::-webkit-calendar-picker-indicator,
.pasto-giorno::-webkit-calendar-picker-indicator,
#dataDiNascitaUtenteInput::-webkit-calendar-picker-indicator {
  display: none;
}

.p-dialog-header {
  display: none;
}

.p-dialog-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slick-dots {
  margin-bottom: 2.5rem;
}

.slick-dots li.slick-active button:before {
  color: #0b76b7;
}

.slick-dots li button:before {
  color: #0b75b7c4;
}

.slick-next {
  margin-right: 2.5rem;
  z-index: 100;
}

.slick-prev {
  margin-left: 2.5rem;
  z-index: 100;
}

.slick-prev:before,
.slick-next:before {
  color: #0b76b7;
}

immagineCameraInPrenotazione {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  /* filter: blur(5px) brightness(0.5);
  transform: scale(1.1);*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: tomato;
}

.prenotazioni-table th,
.camere-admin-table th {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0b76b7;
}

.prenotazioni-table tr,
.camere-admin-table tr {
  height: 3rem;
}

.prenotazioni-table tr:nth-child(odd),
.camere-admin-table tr:nth-child(odd) {
  background-color: #ffffff;
}

.prenotazioni-table tr:nth-child(even),
.camere-admin-table tr:nth-child(even) {
  background-color: #f1f6fe;
}
